/* Estilização geral e ajustes*/

/*
    Verde padrão:   #00E000 
    Azul Padrão:    #05001b
*/

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #08002e;
    color: white;
}

.conteiner {
    display: flex;
    margin: auto;
    width: 90%;
}

/* Início da manipulação do Header */
.header {
    background-color: black;
    display: flex;
    width: 100%;
    border-bottom: solid 2.5px #00E000;
    color: #00E000;
}

.header .conteiner {
    justify-content: space-between;
    align-items: center;
}

.navBar {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 30%;
}

.navBar a {
    text-decoration: none;
    color: #00E000;
}

.navBar a:hover {
    color: white;
}

/* Fim da manipulação do Header */

/* Início da manipulação do Banner */
.banner {
    width: 100%;
    height: 480px;
    color: #00E000;
    background-image: url("../img/SPhack.png");
    background-attachment: fixed;
    background-position: center;
}

.banner .conteiner {
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.banner .conteiner h3 {
    margin-bottom: 0px;
    margin-top: 1%;
    color: white;
}

.banner .conteiner .caixa {
    display: flex;
    margin: 0px;
    justify-content: center;
}

.banner .conteiner .caixa2 {
    background-color: rgba(0, 0, 0, 0.904);
    padding: 20px;
    border-radius: 25px;
    margin: 10px;
}

/* Fim da manipulação do Banner */


/* Início da manipulação dos Cards */
.caixaCards {
    width: 100%;
}

.caixaCards .caixa {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.caixaCards .caixa h2 {
    margin-bottom: 7px;
    font-size: 180%;
}

.conteiner .card img {
    width: 150px;
    height: 150px;
}

.caixaCards .conteiner {
    justify-content: space-between;
    padding: 10px 5px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: solid 1px #00e000;
    margin: 1%;
    border-radius: 25px;
    background-color: #05001bf1;
    padding: 5px;
}

.card h2,
p {
    color: white;
}

/* Fim da manipulação dos Cards */

/* Início da manipulação do conteúdo*/

.conteudo {
    width: 100%;
}

.conteudo .conteiner {
    width: 70%;
    margin: auto;
    margin-top: 30px;
    flex-direction: row;
    border: solid 1px #00E000;
    border-radius: 30px;
}

.conteudo .conteiner .caixa_h2 h2 {
    margin-left: 10px;
}

.conteudo .conteiner .caixa_h2 {
    border-right: 3px solid #007900;
    border-radius: 20px;
    padding: 10px;
}

.conteudo .conteiner .caixa_p {
    margin-left: 25px;
    margin-top: 10px;
    text-align: center;
}

/* Fim da manipulação do conteúdo*/